.control {
  border-radius: 22px;
  border: 1px dashed #a4a4a4;
  height: 22px;
  margin: 0;
  width: 22px;
  font-size: 22px;
  line-height: 22px;
  margin-left: 8px;
}

.main {
  width: 100%;
  align-items: center;
  border-radius: 4px;
}
