.vote_bar {
  width: 40px;
  border-left: 4px solid transparent;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 8px 4px 8px 0;
  position: absolute;
  top: 0;
}
.vote_btn {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: initial;
  height: 24px;
  width: 24px;
}
.vote_btn_wrap {
  align-items: center;
  display: flex;
  fill: inherit;
  flex-direction: column;
}

.vote_btn:hover {
  background: #dae0e6;
}
.upVote {
  line-height: 24px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
  color: #878a8c;
}
.upVote_wrap {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  line-height: 24px;
}
.upVote:hover {
  color: #cc3700;
}

.downVote {
  line-height: 24px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
  color: #878a8c;
}
.downVote:hover {
  color: #5a75cc;
}
.vote_text {
  color: #1a1a1b;
  margin: 4px 0;
  font-size: 12px;
  line-height: 16px;
  pointer-events: none;
  word-break: normal;
}

.h_vote_bar {
  border-color: transparent;
  box-sizing: border-box;
  border-left-width: 4px;
  border-left-style: solid;
  flex: 0 0 36px;
  color: #878a8c;
  cursor: pointer;
  fill: #878a8c;
}
.h_vote_bar_wrap {
  margin-top: 9px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 2px;
  fill: inherit;
}

.h_vote_text {
  color: #1a1a1b;
  line-height: 15px;
  margin: 0 1px;
  text-align: center;
  width: 32px;
  font-size: 12px;
  font-weight: 700;
  pointer-events: none;
  word-break: normal;
}
