.nav_rr_menu_item_switch {
  align-items: center;
  display: flex;
  border: 2px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: border-color 0.15s linear, background-color 0.15s linear;
  border-width: 2.25px;
  height: 24px;
  width: 37.5px;
  background-color: rgba(26, 26, 27, 0.1);
  justify-content: flex-start;
}

.nav_rr_menu_item_switch_control {
  height: 19.5px;
  width: 19.5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transition: left 0.15s linear;
  border-radius: 57%;
}
.nav_rr_menu_item_switch[aria-checked='true'] {
  background-color: #24a0ed;
  justify-content: flex-end;
}

.nav_rr_menu_item_switch_control:after {
  content: '';
  padding-top: 100%;
  display: block;
}
