.card_footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  overflow-y: visible;
  background-color: #fff;
}
.card_footer_wrap {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 8px 0 4px;
  flex-grow: 1;
}
.footer_comment {
  padding: 8px;
  word-break: normal;
  margin-right: 4px;
  align-items: center;
  display: flex;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding: 4px;
  box-sizing: border-box;
}
.footer_comment:hover {
  background-color: #f6f7f8;
}
.footer_comment_icon {
  margin-right: 6px;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  word-break: normal;
}
.footer_comment_text {
  display: inline-block;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: middle;
  word-break: normal;
}
.footer_award {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer_award:hover {
  background-color: #f6f7f8;
}
.card_footer_award_wrap {
  border-radius: 2px;
  margin-right: 4px;
  padding: 8px;
  text-transform: capitalize;
  white-space: nowrap;
  width: auto;
  word-break: normal;
  word-wrap: normal;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: left;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
.award_icon_wrap {
  margin-right: 6px;
}
.award_icon {
  display: inline-block;
  line-height: 18px;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}
.hr {
  border-right: 1px solid #edeff1;
  height: 16px;
  margin-left: 4px;
  vertical-align: middle;
  word-break: break-word;
}

.show_content {
  border-radius: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
  width: 36px;
}
.show_content:hover {
  background-color: #f6f7f8;
}

.show_content_icon {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

.compact_footer {
  align-items: center;
  display: flex;
  flex: 0 0 72px;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  margin-left: 4px;
  padding-right: 4px;
  color: rgb(135, 138, 140);
  cursor: pointer;
  fill: rgb(135, 138, 140);
}

.compact_footer_comment {
  width: 60px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.compact_footer_comment:hover {
  background-color: #f6f7f8;
}

.compact_comment_icon {
  margin-right: 6px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
}
.compact_comment_icon:before {
  content: '\f16f';
  font-family: redesignFont2020;
}
.compact_comment_text {
  display: inline-block;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: middle;
}

.compact_footer_more {
  border-radius: 2px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  padding: 0 4px;
  width: 100%;
  cursor: pointer;
}
.compact_footer_more_icon {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: #878a8c;
}

.compact_footer_more:hover {
  background-color: #f6f7f8;
}
.remove_group {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  position: relative;
}

.remove_btn {
  border-radius: 2px;
  align-items: center;
  border: none;
  display: flex;
  margin: 4px 8px 4px 0;
  padding: 4px;
  text-decoration: none;
  text-transform: capitalize;
}
.remove_btn:hover {
  background-color: #f6f7f8;
}

.remove_btn_icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

.remove_btn_icon:before {
  content: '\f16f';
  font-family: redesignFont2020;
}
