.card_footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  overflow-y: visible;
  background-color: #fff;
}
.card_footer_wrap {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 8px 0 4px;
  flex-grow: 1;
}
.footer_comment {
  padding: 8px;
  word-break: normal;
  margin-right: 4px;
  align-items: center;
  display: flex;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding: 4px;
  box-sizing: border-box;
}
.footer_comment:hover {
  background-color: #f6f7f8;
}
.footer_comment_icon {
  margin-right: 6px;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  word-break: normal;
}
.footer_comment_text {
  display: inline-block;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: middle;
  word-break: normal;
}
.footer_award {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer_award:hover {
  background-color: #f6f7f8;
}
.card_footer_award_wrap {
  border-radius: 2px;
  margin-right: 4px;
  padding: 8px;
  text-transform: capitalize;
  white-space: nowrap;
  width: auto;
  word-break: normal;
  word-wrap: normal;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: left;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
.award_icon_wrap {
  margin-right: 6px;
}
.award_icon {
  display: inline-block;
  line-height: 18px;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}
.hr {
  border-right: 1px solid #edeff1;
  height: 16px;
  margin-left: 4px;
  vertical-align: middle;
  word-break: break-word;
}

.show_content {
  border-radius: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
  width: 36px;
}
.show_content:hover {
  background-color: #f6f7f8;
}

.show_content_icon {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

.compact_footer {
  align-items: center;
  display: flex;
  flex: 0 0 72px;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  margin-left: 4px;
  padding-right: 4px;
  color: rgb(135, 138, 140);
  cursor: pointer;
  fill: rgb(135, 138, 140);
}

.compact_footer_comment {
  width: 60px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.compact_footer_comment:hover {
  background-color: #f6f7f8;
}

.compact_comment_icon {
  margin-right: 6px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
}
.compact_comment_icon::before {
  content: '\f16f';
  font-family: redesignFont2020;
}
.compact_comment_text {
  display: inline-block;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: middle;
}

.compact_footer_more {
  border-radius: 2px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  padding: 0 4px;
  width: 100%;
  cursor: pointer;
}
.compact_footer_more_icon {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: #878a8c;
}

.compact_footer_more:hover {
  background-color: #f6f7f8;
}
.remove_group {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  position: relative;
}

.remove_btn {
  border-radius: 2px;
  align-items: center;
  border: none;
  display: flex;
  margin: 4px 8px 4px 0;
  padding: 4px;
  text-decoration: none;
  text-transform: capitalize;
}
.remove_btn:hover {
  background-color: #f6f7f8;
}

.remove_btn_icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

.remove_btn_icon::before {
  content: '\f16f';
  font-family: redesignFont2020;
}
/* mobile */

.mobile_content_footer {
  padding-bottom: 12px;
  padding-top: 8px;
  border-bottom: 8px solid #efefed;
  padding: 8px 16px;
}

.mobile_content_footer::before {
  content: ' ';
  display: table;
}

.mobile_content_footer::after {
  clear: both;
  content: ' ';
  display: table;
}

.mobile_content_footer_wrapper {
  display: flex;
  flex: 1;
  float: none;
  top: 0;
  position: relative;
}

.mobile_footer_voting_box {
  border: 1px solid #efefed;
  border-color: #edeff1;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  width: 32px;
  font-size: 12px;
  margin-right: 10px;
  max-width: 110px;
  width: auto;
  pointer-events: all;
}
.mobile_footer_upvote {
  border: unset;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  width: 32px;
  font-size: 12px;
  line-height: 24px;
  color: #787c7e;
  fill: #787c7e;
  vertical-align: middle;
  text-align: center;
  pointer-events: all;
}

.mobile_voting_icon {
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
  font-weight: 500;
  font-size: 12px;
}

.mobile_voting_icon:not(:root) {
  overflow-clip-margin: content-box;
}

.mobile_voting_text {
  min-width: 16px;
  color: #787c7e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  padding-top: 2px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  pointer-events: all;
}

.mobile_footer_award {
  color: #787c7e;
  fill: #787c7e;
  border: 1px solid #efefed;
  border-color: #edeff1;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  font-size: 12px;
  flex-shrink: 1;
  margin-right: 10px;
  overflow-x: scroll;
  padding: 0;
  width: auto;
  pointer-events: all;
}

.mobile_footer_award_container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 85px;
  padding: 1px 7px;
  color: #787c7e;
  fill: #787c7e;
  font-weight: 500;
  font-size: 12px;
  pointer-events: all;
}
.mobile_footer_award_icon {
  flex: 0 0 16px;
  opacity: 1;
  position: static;
  height: 16px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 12px;
  pointer-events: all;
}

.mobile_footer_award_icon:not(:root) {
  overflow: hidden;
}

.mobile_footer_comment {
  color: #787c7e;
  fill: #787c7e;
  border: 1px solid #efefed;
  border-color: #edeff1;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  font-size: 12px;
  margin-left: 0;
  margin-right: 10px;
  padding: 2px 8px 0;
  width: auto;
  max-width: 100px;
  pointer-events: all;
  line-height: 24px;
  min-height: 24px;
  text-align: center;
  text-decoration: none;
}

.mobile_footer_comment_icon {
  margin-right: 4px;
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
  font-weight: 500;
  font-size: 12px;
}

.mobile_footer_comment_icon:not(:root) {
  overflow: hidden;
  overflow-clip-margin: content-box;
}
.mobile_footer_share {
  color: #787c7e;
  fill: #787c7e;
  border: 1px solid #efefed;
  border-color: #edeff1;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  font-size: 12px;
  margin-left: auto;
  margin-right: 0;
  max-width: 85px;
  pointer-events: all;
  white-space: nowrap;
}

@media screen and (min-width: 414px) {
  .mobile_footer_share {
    padding: 1px 8px 0;
    width: auto;
  }
}
.mobile_footer_share_icon {
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
}
.mobile_footer_share_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #787c7e;
  fill: #787c7e;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 414px) {
  .mobile_footer_share_text {
    display: inline;
  }
}

.mobile_footer_share_icon:not(:root) {
  overflow: hidden;
  overflow-clip-margin: content-box;
}
@media screen and (min-width: 414px) {
  .mobile_footer_share_icon {
    margin-right: 4px;
  }
}
