.wrapper {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 16px;
  padding: 8px;
}

.wrapper input {
  background-color: #f6f7f8;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: none;
  box-sizing: border-box;
  color: #1c1c1c;
  display: block;
  flex-grow: 1;
  height: 38px;
  margin-right: 8px;
  outline: none;
  padding: 0 16px;
}
