.card_top {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 0 8px 8px;
  position: relative;
  cursor: pointer;
  color: #878a8c;
}

.card_avatar_wrap {
  flex: 0 0 auto;
  cursor: pointer;
  color: #878a8c;
}

.card_avatar {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #1c1c1c;
  display: inline;
  line-height: 20px;
  text-decoration: none;
  vertical-align: baseline;
}

.card_image {
  background-color: #999999;
  display: inline-block;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
  width: 20px;
  border-radius: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.card_top_right {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  overflow: hidden;
  cursor: pointer;
  color: #878a8c;
}
.card_top_right_txt {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: inherit;
}
.card_top_right_sub {
  display: inline-block;
}
.card_top_right_sub_text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #1c1c1c;
  display: inline;
  line-height: 20px;
  text-decoration: none;
  vertical-align: baseline;
}
.dot {
  vertical-align: middle;
  color: #1c1c1c;
  font-size: 6px;
  line-height: 20px;
  margin: 0 4px;
  cursor: pointer;
}
.posted_by {
  color: #787c7e;
  margin-right: 3px;
}
.author_wrap {
  color: inherit;
  display: inline-block;
}
.author {
  color: rgb(120, 124, 126);
  margin-right: 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.post_timestamp {
  color: #787c7e;
}

.authors_flair {
  display: inline;
  vertical-align: text-top;
}

.remove_icon_wrap {
  display: flex;
  cursor: pointer;
  line-height: 12px;
  vertical-align: unset;
}

.removal_reason {
  flex: 0 0 auto;
  text-decoration: none;
  display: inline-block;
  margin-right: 3px;
  color: rgb(120, 124, 126);
}

.lock_wrap {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 4px;
}

.mobile_post_header_container {
  display: flex;
  align-items: center;
}
.sub_detail_wrap {
  color: #a5a4a4;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  flex: 1 0;
}
.sub_detail_wrap::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3em;
}

.sub_detail {
  color: #798389;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  padding-right: 3em;
  padding: 8px 16px;
  white-space: nowrap;
}

.mobile_sub_link {
  color: #1a1a1b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  pointer-events: all;
}

.mobile_top_subndate {
  display: flex;
  align-items: center;
}
.mobile_sub_icon {
  background-color: #fff;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 8px;
  vertical-align: middle;
}

.mobile_dot {
  font-size: 14px;
  line-height: 18px;
}
.mobile_dot::after {
  color: #818384;
  content: '\2022';
  display: inline-block;
  margin: 0 4px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.sub_statuses {
  padding: 0;
  flex: 0 0 auto;
  white-space: nowrap;
  display: flex;
}
.status {
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
}

.status::before {
  content: '\F167';
}
.mobile_card_menu {
  pointer-events: all;
  padding-top: 4px;
  color: #565758;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 16px 8px 12px;
  vertical-align: middle;
}

.spoiler {
  font-size: 11px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100px;
  vertical-align: middle;
  background-color: #545452;
  padding: 0 5px;
  font-weight: 700;
  color: #fff;
  border-radius: 3px 3px;
}
