.card_body {
  margin-top: 8px;
  display: block;
  cursor: pointer;
}
.card_body_wrap {
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
  color: #222222;
}
.card_body_wrap:visited {
  color: #9b9b9b;
}
.bodyWrap {
  max-height: 250px;
  mask-image: linear-gradient(180deg, #000 60%, transparent);
  overflow: hidden;
  padding: 5px 8px 10px;
}
.body {
  cursor: pointer;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

.post_link_wrap {
  display: flex;
  margin-top: 0;
  cursor: pointer;
}

.post_link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 4px 8px;
  white-space: nowrap;
  color: #0079d3;
  fill: #0079d3;
  text-decoration: inherit;
  display: flex;
}
.post_link_icon {
  font-size: 12px;
  padding-left: 4px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 400;
}
.post_link_icon:before {
  content: '\f1ad';
  font-family: redesignFont2020;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.mobile_content_wrapper {
  margin: 4px 0;
  position: relative;
}

.mobile_content_media_wrapper {
  border: unset;
  margin-left: 0;
  margin-right: 0;
  margin: 0 16px;
}

.mobile_content_media_link {
  color: #2d9cdb;
  font-size: 12px;
  padding: 2px 16px;
  position: relative;
  overflow: hidden;
}

.mobile_content_media_link:before {
  content: ' ';
  display: table;
}
.mobile_content_media_link:before {
  clear: both;
  content: ' ';
  display: table;
}

.mobile_content_media_link_content {
  display: inline-block;
  width: calc(100% - 3em);
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile_content_media_thumbnail {
  padding-top: 50%;
  pointer-events: all;
  background-color: #fff;
  color: #0079d3;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}
.mobile_content_media_thumbnail img {
  overflow-clip-margin: content-box;
  overflow: clip;
  position: absolute;
  height: 100%;
  object-fit: cover;
  top: 0;
  width: 100%;
}
.mobile_content_media_thumbnail_bar {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  font-size: 12px;
  left: 0;
  padding: 5px 12px;
  position: absolute;
  right: 0;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  pointer-events: all;
}
.mobile_content_media_thumbnail_bar:before {
  content: ' ';
  display: table;
}
.mobile_content_media_thumbnail_bar:after {
  clear: both;
  content: ' ';
  display: table;
  color: #fff;
  font-size: 12px;
}

.mobile_content_media_thumbnail_bar_text {
  display: inline-block;
  width: calc(100% - 3em);
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 12px;
}

.mobile_detail_text_container {
  pointer-events: none;
  box-sizing: border-box;
}

.mobile_detail_text {
  padding: 8px 16px;
}

.mobile_show_spoiler {
  pointer-events: all;
  color: #1a1a1b;
  border: 1px solid #1a1a1b;
  display: block;
  margin: 8px auto 10px;
  padding: 10px 20px;
  text-transform: uppercase;
}
