.content_top2 {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: #fff;
  padding: 0 24px;
}

.wrapper {
  padding-top: 64px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

@media (min-width: 640px) {
  .wrapper {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.wrapper2 {
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 856px;
  padding: 16px 24px;
}

.settings_options_input_count {
  color: #7c7c7c;
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.settings_options_input ol {
  margin-inline-start: 1em;
  margin-top: 0.75em;
}

.settings_options_input > ol li {
  font-size: 12px;
  list-style: lower-roman;
  margin-bottom: 8px;
}

.settings_options_input > ol li a {
  display: inline-block;
  color: #0079d3;
  font-style: italic;
}

.nsfw_wrap {
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
