.card_title {
  margin: 0 8px;
}
.post_title_wrap {
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}
.post_title {
  display: inline-block;
  padding-right: 5px;
  word-wrap: break-word;
  color: #222222;
  box-sizing: border-box;
}

.post_title:visited {
  color: #9b9b9b;
}
.title_wrap {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}
.title {
  display: inline;
}

.thumbnail_link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 4px 8px;
  white-space: nowrap;
  color: #0079d3;
  fill: #0079d3;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
}
.thumbnail_icon {
  font-size: 12px;
  padding-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

.thumbnail_icon:before {
  content: '\f1ac';
}

.post_mobile_title_wrap {
  color: #1a1a1b;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin: 0;
  overflow-x: hidden;
  pointer-events: all;
}
.post_mobile_title_wrap:visited {
  color: #a5a4a4;
}

.mobile_flair_container_wrap {
  color: #a5a4a4;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.titlenThumbnail {
  justify-content: space-between;
  pointer-events: none;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 16px;
}
.titlenFlair {
  overflow: hidden;
  overflow-wrap: break-word;
}

.mobile_compact_content {
  margin: 0 0 0 16px;
  pointer-events: all;
  width: 70px;
  height: 52px;
}
.mobile_compact_thumbnail {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  pointer-events: all;
}
.mobile_compact_thumbnail_link {
  width: 70px;
  height: 52px;
  pointer-events: all;
  background-color: #fff;
  color: #3aabff;
  border-radius: 4px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
}

.mobile_compact_thumbnail_link img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  top: 0;
  width: 100%;
  vertical-align: middle;
}

.mobile_content_bar_link {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 10px;
  padding-left: 4px;
  padding-right: 4px;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  left: 0;
  position: absolute;
  right: 0;
  pointer-events: all;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
}
.mobile_content_bar_link:before {
  content: ' ';
  display: table;
}
.mobile_content_bar_link:after {
  clear: both;
  content: ' ';
  display: table;
  font-size: 10px;
}

.mobile_content_media_thumbnail_bar_text {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
}
