.card_title {
  margin: 0 8px;
}
.post_title_wrap {
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}
.post_title {
  display: inline-block;
  padding-right: 5px;
  word-wrap: break-word;
  color: #222222;
  box-sizing: border-box;
}

.post_title:visited {
  color: #9b9b9b;
}
.title_wrap {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}
.title {
  display: inline;
}

.thumbnail_link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 4px 8px;
  white-space: nowrap;
  color: #0079d3;
  fill: #0079d3;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
}
.thumbnail_icon {
  font-size: 12px;
  padding-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

.thumbnail_icon:before {
  content: '\f1ac';
}

.post_mobile_title_wrap {
  color: #1a1a1b;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin: 0;
  overflow-x: hidden;
  padding: 0 16px 8px;
  pointer-events: all;
}
.post_mobile_title_wrap:visited {
  color: #a5a4a4;
}

.mobile_flair_container_wrap {
  color: #a5a4a4;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
