.bottom_link_wrapper {
  position: sticky;
  top: 57px;
}

.bottom_link_wrapper2 {
  margin-top: 16px;
  background: #fff;
}

.bottom_link_content {
  max-height: none;
}

.blc_top {
  display: flex;
  padding: 12px 8px;
}

.blc_t_left {
  display: flex;
  flex-flow: column;
  width: 50%;
  padding: 0 4px;
}

.blc_t_left a span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
}

.blc_bottom {
  display: inline-block;
  padding: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.back_tt {
  top: calc(100vh - 8px);
  position: sticky;
  justify-content: center;
  text-align: center;
  transform: translateY(-100%);
  display: flex;
  margin-top: 45px;
}
