.wrapper {
  border-radius: 50%;
  position: relative;
}

.avatar_wrap {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.badge {
  position: absolute;
  transform: translate(25%, 25%);
  border-radius: 50%;
  border-width: 0.2em;
  border-style: solid;
  left: 59%;
  position: absolute;
  overflow: hidden;
}
