body {
  font-family: IBMPlexSans, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: IBMPlexSans, Arial, sans-serif;
}

html,
body {
  width: 100%;
  margin: 0;
}
