.wrapper {
  color: #1c1c1c;
  height: 48px;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  z-index: 80;
  right: 0px;
  left: 0px;
  top: 0px;
  position: fixed;
  flex-grow: 0;
  flex-shrink: 0;
}

.wrapper[showStyleBar='true'] {
  padding-left: 284px !important;
}
.nav_wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #edeff1;
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 20px;
  height: 100%;
}
.nav_left {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
}

.logo_cont {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.logo_text {
  height: 18px;
  margin-right: 20px;
  width: auto;
}

@media (min-width: 1070px) {
  .logo_text {
    display: block;
  }
}

.nav_right {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
  color: #1c1c1c;
}

.nav_popular_wrap {
  border-right: none;
  padding-right: 0;
  display: flex;
  margin-right: 8px;
  align-items: center;
  flex-direction: row;
}

.nav_popular_wrap2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav_popular {
  border-radius: 2px;
  color: #1a1a1b;
  height: 32px;
  padding: 0;
  position: relative;
  width: 32px;
}

.nav_popular_icon {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: #1a1a1b;
}

.nav_popular_icon::before {
  content: '\f239';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.nav_right_right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav_right_right2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1c1c1c;
}
.nav_rr_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_rr_left_item {
  height: 32px;
  margin-left: 8px;
}
.nav_rr_left_item_btn {
  border-radius: 2px;
}
.nav_rr_left_item_btn2 {
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  fill: #1a1a1a;
  position: relative;
}
.nav_rr_left_item_btn_dot {
  height: 8px;
  min-width: 8px;
  margin-top: 4px;
  background: #ff4500;
  border-radius: 12px;
  box-shadow: 0 0 0 2px #ffffff;
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  left: 20px;
  line-height: 16px;
  padding: 0 4px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: auto;
  z-index: 1;
}
.nav_rr_left_item_icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: #1a1a1a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.nav_rr_left_item_icon::before {
  content: '\f207';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #1a1a1b;
}

/* mobile nav wrapper */

.mobile_wrapper {
  background-color: #1d2535;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 0;
}

.mobile_wrapper::after {
  background-color: #1d2535;
  content: '';
  position: absolute;
  height: 100%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.mobile_wrapper2 {
  align-items: center;
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding-left: 16px;
  padding-right: 8px;
}

.mobile_nav_left {
  flex: 1 0 130px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  list-style: none;
}

@media (min-width: 375px) {
  .mobile_nav_left {
    flex-basis: 144px;
  }
}

.mobile_nav_logo_wrap {
  color: #3aabff;
  align-items: center;
  display: flex;
  margin-right: 4px;
}

.mobile_nav_logo {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.mobile_nav_logo_text_wrap {
  flex: 1;
  position: relative;
}

.mobile_nav_logo_text_wrap2 {
  color: #3aabff;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s linear;
  text-decoration: none;
  margin-top: -16px;
  max-width: 100%;
  padding: 6px 0;
  position: absolute;
  top: 50%;
}

.mobile_nav_logo_text {
  width: 55px;
  height: 18px;
  fill: #ffffff;
  color: #ffffff;
}
.mobile_nav_btn {
  text-decoration: none;
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: center;
  outline: none;
  padding: 0;
  position: relative;
  width: 36px;
}

.mobile_new_post {
  fill: #fff;
  height: 20px;
  width: 20px;
}

.mobile_menu {
  display: block;
  height: 20px;
  position: relative;
  width: 20px;
}

.mobile_menu_wrapper {
  background: linear-gradient(
    180deg,
    #1d2535 0,
    #1d2535 50%,
    rgba(0, 0, 0, 0.3) 51%,
    rgba(0, 0, 0, 0.3)
  );
  top: 48px;
  padding-bottom: 96px;
  z-index: 30;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
  overflow-y: scroll;
}

.mobile_menu_wrapper2 {
  background: #1d2535;
  padding: 10px 16px 4px;
  margin-bottom: 0;
  list-style: none;
  font-size: 16px;
}

.mobile_menu_Search_wrapper {
  margin-bottom: 20px;
}

.mobile_menu_Search_wrapper2 {
  align-items: center;
  background-color: rgba(246, 247, 248, 0.1);
  border-radius: 32px;
  display: flex;
  flex-flow: row nowrap;
  height: 32px;
  padding: 0 12px;
}

.mobile_menu_Search_icon {
  fill: #d7dadc;
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.mobile_menu_Search_wrap {
  flex: 1;
}

.mobile_menu_Search {
  box-sizing: content-box;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  padding: 0;
  text-overflow: ellipsis;
  width: 100%;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  background-color: inherit;
}

input:not([type='range']):not([type='color']):not([type='button']):not([type='reset']):not(
    [type='submit']
  ):not([type='file']) {
  writing-mode: horizontal-tb !important;
}

.mobile_menu_item {
  align-items: center;
  flex-flow: row nowrap;
  color: #fff;
  display: flex;
  margin-bottom: 20px;
  margin-left: -4px;
}

.mobile_menu_item1 {
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
}

.mobile_menu_item_icon_wrap {
  align-items: center;
  display: inline-flex;
  flex: 0 0 24px;
  height: 24px;
  justify-content: center;
  margin-right: 8px;
  position: relative;
  width: 24px;
}

.mobile_menu_item_icon_wrap2 {
  position: relative;
}

.mobile_menu_item_icon {
  height: 16px;
  width: 16px;
  fill: #fff;
  opacity: 0.5;
}

.mobile_menu_item_text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile_menu_item_text {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}
.mobile_menu_item_text2 {
  font-size: 11px;
  line-height: 1.2;
}

.mobile_menu_dropdown_item {
  height: 44px;
  opacity: 1;
  overflow: hidden;
  display: block;
  padding-right: 4px;
}
.mobile_menu_dropdown_item2 {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 12px;
  max-width: 100%;
  display: inline-block;
  margin-left: -4px;
  padding: 4px;
}

.mobile_menu_dropdown_item_avatar_wrap {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  width: 24px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.mobile_menu_dropdown_item_aux {
  fill: #fff;

  margin-left: auto;

  cursor: pointer;
}

.mobile_menu_dropdown_item2[active='true'] {
  background: #3aabff;
  color: #fff;
  width: 100%;
}

/* Nav search */

.ns_wrap {
  fill: #1a1a1b;
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
  height: auto;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  min-width: 72px;
}

.ns_wrap2 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #f6f7f8;
  border: 1px solid #edeff1;
  border-radius: 1.25em;
  box-shadow: none;
  height: 40px;
}

.ns_wrap2 form {
  width: 100%;
  display: flex;
}
.ns_wrap2 form label {
  display: flex;
}

.search_icon {
  align-items: center;
  padding: 0 9px 0 15px;
  display: flex;
}

.search_icon svg {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: #878a8c;
  position: relative;
  top: 1px;
}

.search_icon span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.ns_wrap2 form input {
  background-color: #f6f7f8;
  appearance: none;
  color: #1c1c1c;
  font-size: 14px;
  line-height: 14px;
  margin-right: 16px;
  outline: none;
  width: 100%;
}

.ns_result_wrap {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 45px;
  right: 0;
  overflow: auto;
  border: 1px solid #edeff1;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  color: #1c1c1c;
  background-color: #fff;
  margin-top: -1px;
  max-height: 482px;
}

.ns_result {
  padding: 20px;
  border: 1px solid #edeff1;
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 100%;
}

.ns_result2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nsr_title {
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.nsr_add {
  word-break: break-all;
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
