.wrapper {
  color: 1c1c1c;
  height: 48px;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  z-index: 80;
  right: 0px;
  left: 0px;
  top: 0px;
  position: fixed;
}

.nav_wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #edeff1;
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 20px;
  height: 100%;
}
.nav_left {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
}

.logo_cont {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.logo_text {
  height: 18px;
  margin-right: 20px;
  width: auto;
}

@media (min-width: 1070px) {
  .logo_text {
    display: block;
  }
}

.nav_right {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
  color: #1c1c1c;
}

.nav_popular_wrap {
  border-right: none;
  padding-right: 0;
  display: flex;
  margin-right: 8px;
  align-items: center;
  flex-direction: row;
}

.nav_popular_wrap2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav_popular {
  border-radius: 2px;
  color: #1a1a1b;
  height: 32px;
  padding: 0;
  position: relative;
  width: 32px;
}

.nav_popular_icon {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: #1a1a1b;
}

.nav_popular_icon:before {
  content: '\f239';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.nav_right_right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav_right_right2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1c1c1c;
}
.nav_rr_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_rr_left_item {
  height: 32px;
}
.nav_rr_left_item_btn {
  border-radius: 2px;
}
.nav_rr_left_item_btn2 {
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  fill: #1a1a1a;
  position: relative;
}
.nav_rr_left_item_btn_dot {
  height: 8px;
  min-width: 8px;
  margin-top: 4px;
  background: #ff4500;
  border-radius: 12px;
  box-shadow: 0 0 0 2px #ffffff;
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  left: 20px;
  line-height: 16px;
  padding: 0 4px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: auto;
  z-index: 1;
}
.nav_rr_left_item_icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: #1a1a1a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.nav_rr_left_item_icon:before {
  content: '\f207';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #1a1a1b;
}
